html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    height: 100vh;
}

div#root {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    height: 100%;
}

div.overall {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
}

div.formHolder {
    position: relative;
    border: 2px solid black;
    padding: 0.75rem;
    margin: 0.5rem;
    min-width: 30%;
}

div.spaceCV {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    border: 3px dotted purple;
    margin: 1rem;
    margin-bottom: 1.5rem;
    padding: 0.5rem;
}

div.top {
    margin: 1rem;
    display: flex;
    justify-content: center;
    gap: 0.4rem;
}

div.top, div.middleToCV, div.displayCV {
    width: 75%;
}

div.outer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

div.description {
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
    font-style: oblique;
}

div.topForms {
    margin-bottom: 0.45rem;
}

div.middleToCV {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin: 0.7rem;
}

div.displayCV {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 2px solid black;
    padding: 0.75rem;
    margin: 0.5rem;
}

div.formHolder > button {
    position: absolute;
    bottom: 5px;
    left: 5px;
    margin: 0.4rem;
}

div.eachEduHolder {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1.5rem;
}

div.editEduHolder {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 2rem;
    height: 100%;
    margin: auto;
    text-align: center;
    background: rgb(0,0,0,0.4);
    z-index: 15;
}

li.editingEdu {
    background: rgb(0,0,0,0.2);
}

div.eduRight {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.cols {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start;
}

li {
    list-style-type: none;
    border: 2px inset rgb(255, 63, 249);
    margin: 0.4rem;
    padding: 0.4rem;
    white-space: pre-wrap;
}

li.workList {
    border: 3px groove rgb(0, 187, 0);
}

textarea {
    resize: vertical;
}