@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Mukta&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'Mukta', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


div#root {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

div.overall {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: inherit;
    width: 100%;
}

div.formHolder {
    position: relative;
    border: 2px solid black;
    padding: 0.75rem;
    margin: 0.5rem;
    min-width: 35%;
}

div.spaceCV {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    border: 3px dotted purple;
    gap: 0.5rem;
    margin: 1rem;
    margin-bottom: 1.5rem;
    padding: 0.5rem;
}

div.top {
    margin: 1rem;
    display: flex;
    justify-content: center;
    gap: 0.4rem;
}

div.top, div.middleToCV, div.displayCV {
    width: 75%;
    box-sizing:border-box;
}

div.outer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    box-sizing:border-box;
    max-height: fit-content;
}

div.description {
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
    font-style: oblique;
}

div.topForms {
    margin-bottom: 0.45rem;
}

div.middleToCV {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin: 0.7rem;
}

div.displayCV {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 2px solid black;
    padding: 0.75rem;
    margin: 0.5rem;
}

div.formHolder > button {
    position: absolute;
    bottom: 5px;
    left: 0; 
    right: 0; 
    margin: 0.4rem auto;
    width:fit-content;
}

div.eachEduHolder {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.25rem;
    gap: 1.5rem;
    border: 3px groove rgb(0, 187, 0);
    margin: 12px 0;
}

div.editEduHolder {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    box-sizing:border-box;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    margin: auto;
    text-align: center;
    background: rgb(0,0,0,0.4);
    z-index: 15;
}

div.editEduHolder > div.cols {
    background: beige;
    padding: 4rem;
}

li.editingEdu {
    background: rgb(0,0,0,0.2);
}

div.editBtnHolder {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

div.eduRight {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.4rem;
} 

div.cols {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start;
}

li {
    list-style-type: none;
    border: 2px inset rgb(255, 63, 249);
    margin: 0.4rem;
    padding: 0.4rem;
    white-space: pre-wrap;
}

textarea {
    resize: vertical;
}

button {
    font-family: 'Aboreto', cursive;
    font-weight: bolder;
    padding: 3px;
}

/* for smaller screens, make div.formHolder not 3 columns side by side, but rather one column overall
*/

@media only screen and (max-width: 850px) {
    div.top {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    div.formHolder {
        min-width: 55%;
        max-height: 95vh;
    }
}