@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Mukta&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'Mukta', sans-serif;
    background-color: antiquewhite;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

div#root {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

div.overall {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: inherit;
    width: 100%;
}

div.header {
    font-size: 2.4rem;
    margin-top: 0.4rem;
}

div.questionHolder {
    border-radius: 50%;
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px;
    background-color: burlywood;
    opacity: 0.8;
    z-index: 31;
}

div.withX {
    position: absolute;
    top: -10px;
    right: -10px;
}

div.questionHolder:hover {
    box-shadow: 2px 2px 3px 2px rgba(0,0,0,.45);
    background-color: black;
    color:white;
}

div.questionHidden {
    background-color: rgb(255, 172, 71);
    display: flex;
    position: absolute;
    top: 200px;
    text-align: center;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 70%;
    padding: 1.5rem;
    border: 3px solid burlywood;
}

div.questionLines {
    margin-top: 10px;
    font-size: 1.5rem;
}

div.ask {
    font-size: 1.7rem;
    font-weight: bolder;
}

.imgContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

img {
    width: 1.3rem;
}

div.formHolder {
    position: relative;
    border: 2px solid black;
    padding: 0.75rem;
    margin: 0.5rem;
    min-width: 35%;
}

input, textarea {
    background-color: rgb(255, 220, 177);
    font-family: 'Mukta', sans-serif;
}

.line {
    margin:5px 0;
    margin-bottom: 2rem;
    height:2px;
    width: 100%;
    background:
      repeating-linear-gradient(90deg,rgba(0, 0, 0, 0.5) 0 5px,#0000 0 7px)
      /*5px red then 2px transparent -> repeat this!*/
}

div.spaceCV {
    border: 3.4px inset orangered;
    margin: 1rem;
    margin-bottom: 1.5rem;
    padding: 0.5rem;
}

div.underDescription, div.firstGen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

div.top {
    margin: 1rem;
    display: flex;
    justify-content: center;
    gap: 0.4rem;
}

div.top, div.middleToCV, div.displayCV {
    width: 75%;
    box-sizing:border-box;
}

div.outer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    box-sizing:border-box;
    max-height: fit-content;
}

div.description {
    font-size: 1.55rem;
    font-style: oblique;
    text-align: center;
}

div.topForms {
    margin-bottom: 0.45rem;
}

div.middleToCV {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin: 0.7rem;
}

div.displayCV {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 2px solid black;
    padding: 0.75rem;
    margin: 0.5rem;
    max-width: 750px;
}

div.formHolder > button {
    position: absolute;
    bottom: 5px;
    left: 0; 
    right: 0; 
    margin: 0.4rem auto;
    width:fit-content;
}

div.eachEduHolder {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.25rem;
    gap: 1.5rem;
    margin: 12px 0;
    width: fit-content;
    border: 2px inset #efa00b;
}

div.editEduHolder {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    box-sizing:border-box;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    margin: auto;
    text-align: center;
    background: rgb(0,0,0,0.4);
    z-index: 15;
}

div.editEduHolder > div.cols {
    position: absolute;
    bottom: 150px;
    background: beige;
    padding: 4rem;

}

li.editingEdu {
    background: rgb(0,0,0,0.2);
}

div.editBtnHolder {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

div.eduRight {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.4rem;
} 

div.cols {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
}

li {
    list-style-type: none;
    margin: 0.4rem;
    padding: 0.4rem;
    white-space: pre-wrap;
}

textarea {
    resize: vertical;
}

button {
    font-family: 'Aboreto', cursive;
    font-weight: bolder;
    padding: 3px;
    background-color: burlywood;
}

button:hover {
    background: orangered;
    color: white;
    box-shadow: 2px 2px 4px 2px rgba(0,0,0,.45);
}

a:link, a:visited {
    text-decoration: none;
    color: rgb(105, 54, 0);
}

a:hover {
    text-decoration: none;
    color: orangered; 
}

a:active {
    text-decoration: none;
    color: #efa00b;
}

/* for smaller screens, make div.formHolder not 3 columns side by side, but rather one column overall
*/

@media only screen and (max-width: 905px) {
    div#root {
        font-size: 16px;
    }
    div.top {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    div.formHolder {
        min-width: 55%;
        max-height: 95vh;
    }
    div.cols {
        margin: 1.5rem 0;
    }
    div.displayCV {
        width: 70%;
    }
}

@media only screen and (max-width: 650px) {
    div.displayCV {
        width: 85%;
    }
}

@media only screen and (max-width: 455px) {
    div#root {
        font-size: 14px;
    }
    div.displayCV {
        width: 100%;
        border: 0px solid black;
    }
}